doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0, shrink-to-fit=no)
    //- meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name='apple-mobile-web-app-title', content='Contentnr')
    link(rel="apple-touch-startup-image", href="/img/Contentnr-apple-touch-startup-image-640x920.png")
    link(rel="apple-touch-startup-image", href="/img/Contentnr-apple-touch-startup-image-1242x2148.png", media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)")
    link(rel="apple-touch-icon", href="/img/RSS.png")
    link(rel="apple-touch-icon", sizes="128x128",href="/img/RSS128.png")
    link(rel="apple-touch-icon", sizes="192x192", href="/img/RSS192.png")
    link(rel="apple-touch-icon", sizes="256x256", href="/img/RSS256.png")
    link(rel='manifest', href='/manifest.json')
    title= title
    block css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
      //- script(type="text/javascript", src="/scripts/index.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    header
      nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href="/update/?_method=PUT", title="Update") 
              span.glyphicon.glyphicon-refresh(aria-hidden="true") 
            a.navbar-brand.navbar-center(href="/") CONTENTNR
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar 

          #bs-example-navbar-collapse-1.collapse.navbar-collapse 
            ul.nav.navbar-nav
              li: a(href="/") News
                span.sr-only current
              li: a(href="/sources") Sources
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Profile
                  span.caret
                ul.dropdown-menu
                  -if(!user)
                    li: a(href="/login") Sign in
                    li.divider(role="separator")
                    li: a(href="/signup") Sign up
                  -if(user)
                    li: a(href="/logout") Logout
              li: a(href="/about") About
    .main-body
      .container
        .system-messages
          -if(error != "")
            div.alert.alert-danger #{error} 
          -if(error_msg != "")
            div.alert.alert-danger #{error_msg} 
          -if(success_msg != "")
            div.alert.alert-success #{success_msg}  
      block content